# ─── GLOBAL ----
.DS_Store
.env
.env.*
*.log

# ─── PYTHON ----
.venv/
__pycache__/
*.py[cod]

# ─── FASTAPI ---
ai-service/.env
ai-service/__pycache__/
ai-service/*.py[cod]

# ─── NODE / NESTJS ---
node_modules/
dist/
backend/.env
backend/node_modules
backend/dist

# ─── DOCKER ---
**/.container-volume
