node_modules
# Keep environment variables out of version control
.env

/generated/prisma

coverage

backend/public/documents/*
backend/public/images/*
!backend/public/images/.gitkeep
!backend/public/documents/.gitkeep