node_modules
# Keep environment variables out of version control
.env

/generated/prisma

coverage

# Ignorar docs e imagenes subidas al servidor
/public/documents/
!/public/documents/.gitkeep

/public/images/
!/public/images/.gitkeep